textarea {
  -webkit-box-shadow: 8px 8px 19px 0 rgba(222, 222, 216,1) inset, -8px -8px 19px 0 rgba(255,255,255,1) inset;
  box-shadow: 8px 8px 19px 0 rgba(222, 222, 216,1) inset, -8px -8px 19px 0 rgba(255,255,255,1) inset;
  background: #EFEFEA;
  border: none;
  border-radius: 50px;
  resize:none;
  outline: none;
  &:focus {
    border: none;
    box-shadow: 8px 8px 19px 0 rgba(222, 222, 216,1) inset, -8px -8px 19px 0 rgba(255,255,255,1) inset;
    background: #EFEFEA;
  }
}

