<div class="container">
  <h1 class="h1 text-center">To do list</h1>

  <p class="h3 font-weight-bold my-3 text-center">Create task</p>

  <textarea placeholder="What need to do ..." class="form-control" [(ngModel)]="itemDscr" ></textarea>
  <button class="d-block btn btn-outline-primary my-3 mx-auto" (click)="addItem()">Add task</button>

  <h2 class="font-weight-bold my-3 text-center">Upcoming Tasks</h2>
  <div class="list-group list-group-flush">
    <app-to-do-item *ngFor="let item of items; let i = index"
                    [taskItem] = "item"
                    [idx] = "i"
                    (onDelete) ="deleteItem($event)"
                    class="list-group-item">
    </app-to-do-item>
  </div>
</div>
